/* general */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-secondary-color: #0084fd;
    --color-dark-color: #333333;
    --color-light-color: #ffffff;
    --color-primary-color: #9792e4;
    --color-bg-card: #b5ddff;
    --color-contrast-color: #fcc060;
    --color-text: #424242;
}

.h3-color{
    color: var(--color-secondary-color);
}

p{
    text-align: center;
    line-height: 25px;
}

ul{
    list-style: none;
    color: white;
}

.debug{
    border: 2px solid red;
}

.container{
    max-width: 450px;
    margin: 0 auto;
}

.margine-top{
    margin-top: 30px;
}

/*immagini*/

.img-section1{
    width: 50%;
    position: relative;
    top: 25px;
}

/*Flex*/

.d-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-column{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

/* header */

header{
    background-color: var(--color-secondary-color);
}

nav{
    padding-top: 10px;
    padding-bottom: 5px;
}

.logo{
    width: 80%;
}

/*main*/

/*sezione 1*/

.card{
    padding: 20px;
    background-color: var(--color-bg-card);
    border-radius: 20px;
}

.icon{
    font-size: 70px;
    color: var(--color-secondary-color);
}