/* general */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-secondary-color: #0084fd;
    --color-dark-color: #333333;
    --color-light-color: #ffffff;
    --color-primary-color: #9792e4;
    --color-bg-card: #b5ddff;
    --color-contrast-color: #fcc060;
    --color-text: #424242;
}

.h3-color{
    color: var(--color-secondary-color);
}

.text-color-black{
    color: var(--color-text);
    /*text-align: center;*/
}

section:nth-child(1) p{
    text-align: center;
    line-height: 25px;
}

ul{
    list-style: none;
    color: white;
}

.debug{
    border: 2px solid red;
}

.container{
    max-width: 450px;
    margin: 0 auto;
}

.tex-align{
    text-align: center;
}

.margine-top{
    margin-top: 30px;
}

.padding-top{
    padding-top: 40px;
}

.padding-bottom{
    padding-bottom: 40px;
}

.section-bg{
    background-color: var(--color-primary-color);
}

/*immagini*/

.img-section1{
    width: 50%;
    position: relative;
    top: 25px;
}

.img-section2{
    width: 100%;
}

/*Flex*/

.d-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-column{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

/* header */

header{
    background-color: var(--color-secondary-color);
}

nav{
    padding-top: 10px;
    padding-bottom: 5px;
}

.logo{
    width: 80%;
}

/*main*/

/*sezione 1*/

.card{
    padding: 20px;
    background-color: var(--color-bg-card);
    border-radius: 20px;
}

.icon{
    font-size: 70px;
    color: var(--color-secondary-color);
}

/*sezione 2*/

section:nth-child(2) h2, p{
    color: white;
}

.card-2{
    padding: 20px;
    background-color: var(--color-light-color);
    border-radius: 30px;
}

.button-arrow{
    background-color: var(--color-primary-color);
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 50%;
    position: relative;
}

.arrow{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(50% 50%);
}

/*sezione 3*/

.card-section3{
    padding: 20px;
    background-color: var(--color-primary-color);
    border-radius: 30px;
}

.tem-img{
    width: 140px;
    height: 140px;
    background-image: url(../img/testimonial1.jpg);
    background-size: cover;
    background-position: center;
    margin: 0 auto;
    border-radius: 50%;
}